body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  background-color: grey;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

html {
  /*Set an initial font size of 10px to give easier rem calculations */
  font-size: 10px;
}

#image {
  align-content: center;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#main {
  font-family: "Segoe UI";
  height: auto;
  padding: 15px;
}

ol {
  max-width: 50%;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}
